body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #777;
}
a {
  color: #00b7ff;
}
.container {
  background: #3a3;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin-left: 10%;
  }
}
.container .left_list {
  background: #eee;
  width: 35%;
  height: 15em;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #3a3;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-3dlight-color: #9c9;
  scrollbar-arrow-color: #333;
  scrollbar-base-color: buttons-color-color;
  scrollbar-darkshadow-color: #9c9;
  scrollbar-face-color: #9c9;
  scrollbar-highlight-color: scrollbar-darkshadow-color;
}
@media screen and (max-width: 600px) {
  .container .left_list {
    width: 98%;
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1%;
  }
}
.container .left_list .list_item:hover,
.container .right_list .list_item:hover {
  background: #9c9;
}
.container .left_list .list_item_selected,
.container .right_list .list_item_selected {
  width: 95%;
  background: #333;
  color: #fff;
  font-weight: bold;
  padding-left: 1em;
  height: auto;
  margin: 0px;
  overflow: hidden;
  cursor: pointer;
}
.container .left_list .list_item,
.container .right_list .list_item {
  padding-left: 0.4em;
  width: 97%;
  overflow: hidden;
  cursor: pointer;
}
.container .buttons {
  width: 9%;
  height: 15em;
  float: left;
  margin-top: 1em;
  margin-left: 8%;
  border-style: solid;
  border-width: 2px;
  border-color: #3a3;
}
@media screen and (max-width: 600px) {
  .container .buttons {
    height: 3em;
    width: 98%;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 1%;
  }
}
.container .buttons a {
  background: #9c9;
  width: 100%;
  height: 30%;
  float: left;
  margin-top: 45%;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .container .buttons a {
    width: 48%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
}
.container .buttons a:hover {
  background: #9a9;
}
.container .buttons a span {
  color: #333;
  font-weight: bold;
  font-size: 3em;
  margin-top: 50%;
  position: relative;
  top: 10px;
}
@media screen and (max-width: 600px) {
  .container .buttons a span {
    margin-top: 1%;
    top: 0px;
  }
}
.container .right_list {
  background: #eee;
  width: 35%;
  height: 15em;
  float: right;
  margin-right: 1em;
  margin-top: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #3a3;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-3dlight-color: #9c9;
  scrollbar-arrow-color: #333;
  scrollbar-base-color: buttons-color-color;
  scrollbar-darkshadow-color: #9c9;
  scrollbar-face-color: #9c9;
  scrollbar-highlight-color: scrollbar-darkshadow-color;
}
@media screen and (max-width: 600px) {
  .container .right_list {
    width: 98%;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 1%;
  }
}
.container_footer {
  background: #333;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .container_footer {
    width: 80%;
    margin-left: 10%;
  }
}
.container_footer .status {
  width: 80%;
  float: left;
}
.container_footer .button {
  background: #9c9;
  width: 20%;
  float: right;
  text-align: center;
}
.container_footer .button a {
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
}
.container_footer .button a:hover,
.container_footer .button:hover {
  color: #eee;
  background: #9a9;
}
.loader {
  background-color: #777;
  z-index: 20;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #9a9;
  text-align: center;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #9a9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
