extends layout

block content
	h1= title
	p User: #{user}
	div(class='container')
		div(class='left_list')
			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914
			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914
			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914
			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914
		div(class='buttons')
			a(href="#") 
				span >
			a(href="#") 
				span <
		div(class='right_list')
			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914
			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

			div(class='list_item')
				p NOMBRE DEL FICHERO AURORA_260914

	div(class='container_footer')
		div(class='status')
		div(class='button')
			a(href='#') Mover

block jss
	script(type="text/javascript" src='javascripts/pass_ui.js')

